@font-face {
  font-family: 'Poppins-Black';
  src: url('../assets/fonts/Poppins-Black.woff2') format('woff2');
  src: url('../assets/fonts/Poppins-Black.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('../assets/fonts/Poppins-Regular.woff2') format('woff2');
  src: url('../assets/fonts/Poppins-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-Regular.woff2') format('woff2');
  src: url('../assets/fonts/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('../assets/fonts/Poppins-Medium.woff2') format('woff2');
  src: url('../assets/fonts/Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
    --text-color: #111111;
    --ui-color: #656293;
}

*,*:before,*:after {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

.h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 4.125rem;
  line-height: 78px;
}

.h2 {
font-family: 'Poppins-Medium';
font-style: normal;
font-weight: 700;
font-size: 2.25rem;
line-height: 54px;
text-align: center;
text-transform: capitalize;
}



.h3 {
  font-family: 'Poppins-Medium';
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 36px;
}

.h4{
  font-family: 'Poppins-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 21px;
}

p {
  margin: 0;
}

body {
  margin: 0;
}



/* header start */

.container {
  position: relative;
  width: 1110px;
  margin: 0 auto;
}

.header {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.header__wrapper {
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 55px;
}

.header__block {
  width: 20%;
}

.header__logo {
display: inline-block;
}

.header__logo img {
height: 37px;
}

.header__block:last-child {
  text-align: right;
}

.btn {
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
}

.btn__Register {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  font-family: 'Poppins-Medium';
}

.btn__SignIn {
  display: inline-block;
  padding: 5px 23px;
  border: 1px solid var(--ui-color);
  font-size: 0.875rem;
  line-height: 120%;
  color: #FFFFFF;
  background-color: var(--ui-color);
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
}

.nav {
  display: flex;
}

.nav__catalog {
  list-style: none;
  display: flex;
}

.catalog__item {
  margin-right: 20px;
}

.catalog__item:last-child {
margin-right: 0;
}

.nav__link {
  margin-right: 20px;
  color: #181818;
  text-decoration: none;
  font-weight: 500;
}

.nav__link:last-child {
  margin-right: 0;
}

  /* header End */

/* Intro Start */

.intro {
  background: url('../assets/img/popular/wing-airplane-with-city-background\ 1\ \(2\).jpg') no-repeat;
  background-size: cover;
}

.window {
margin-left: 171px;
margin-top: 83px;
}

.intro__content {
  height: 750px;
  display: flex;
  align-items: center;
}

.intro__title {
  margin-bottom: 50px;
  max-width: 587px;
  font-size: 66px;
  font-weight: 400;
  color: #151515;
  line-height: 77px;
}

.intro__link {
display: flex;
align-items: center;
margin-left: 5px;
font-family: 'Poppins-Medium';
font-style: normal;
font-weight: 500;
font-size: 1rem;
line-height: 24px;
color: #151515;
}

.arrow {
  display: flex;
  align-items: center;
}

.m_arrow {
  margin-left: 12px;
}

/* Intro End */
.section {
  margin-bottom: 107px;
}
/* Info Start */

.info {
  transform: translateY(-40%);
}

.schedule {
  position: relative;
  justify-content: center;
  max-width: 1110px;
  max-height: 266px;
  width: 100%;
  height: 100vw;
  background: #FFFFFF;
  box-shadow: 0px 30px 84px rgba(19, 10, 46, 0.08), 0px 8px 32px rgba(19, 10, 46, 0.07), 0px 3px 14px rgba(19, 10, 46, 0.03), 0px 1px 3px rgba(19, 10, 46, 0.13);
  border-radius: 12px;
}


.info__wrapper {
display: flex;
}

.airport-from {
  max-width: 300px;
  max-height: 117px;
  width: 100%;
  height: 100vw;
  border: 1px solid #AAAAAA;
  border-radius: 10px;
  margin-top: 24px;
  margin-bottom: 16px;
  margin-left: 29px;
}

.airport-to {
  max-width: 300px;
  max-height: 117px;
  width: 100%;
  height: 100vw;
  border: 1px solid #AAAAAA;
  border-radius: 10px;
  margin-top: 24px;
  margin-bottom: 16px;
  margin-left: 6px;
}

.date {
  display: flex;
  max-width: 381px;
  max-height: 117px;
  width: 100%;
  height: 100vw;
  margin-top: 24px;
  margin-bottom: 16px;
  margin-left: 30px;
  border: 1px solid #AAAAAA;
  border-radius: 10px;
}

.departure {
  max-width: 156px;
  max-height: 86px;
  width: 100vw;
  height: 100vw;
  margin-right: 0;
}

.high__text {
  display: flex;
  margin-top: 16px;
  margin-left: 20px;
  width: 76px;
  height: 21px;
  font-family: 'Poppins-Medium';
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 21px;
  text-transform: capitalize;
  color: #15151599;
}

.navigation__txt {
  margin-right: 19px;
  font-family: 'Poppins-Medium';
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 21px;
  text-transform: capitalize;
  color: #151515;
}

.schedule__navigation {
  display: flex;
  justify-content: flex-start;
  padding-left: 29px;
  margin-bottom: 0;
  list-style-type: none;
}

.information__text {
  display: flex;
}

.medium__text {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 20px;
  width: 44px;
  height: 36px;
  font-family: 'Poppins-Medium';
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 36px;
  text-transform: capitalize;
  color: #151515;
}

.low__text {
  margin-left: 20px;
  font-family: 'Poppins-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 21px;
  text-transform: uppercase;
  color: rgba(21, 21, 21, 0.6);
}

.info__svg {
 margin-top: 44px;
 margin-left: 12px;
}

.arrowsrl {
  margin-top: 83px;
  margin-left: 6px;
  margin-right: 6px;
}

.calend__text {
  display: inline;
  margin-left: 20px;
  margin-top: 4px;
  margin-right: 29px;
  font-family: 'Poppins-Medium';
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 36px;
  text-transform: capitalize;
  color: #151515;
}


.btn__prev-nex {
  padding: 0;
  margin-bottom: 15px;
  margin-right: 44px;
  margin-top: 10px;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  font-family: 'Poppins-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  color: rgba(21, 21, 21, 0.6);
}

.return {
  max-width: 156px;
  max-height: 86px;
  width: 100vw;
  height: 100vw;
  margin-right: 0;
}

.return__text {
  display: flex;
  margin-top: 16px;
  font-family: 'Poppins-Medium';
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 21px;
  text-transform: capitalize;
  color: #15151599;
}

.calendreturn__text {
  display: inline;
  margin-top: 4px;
  margin-right: 29px;
  font-family: 'Poppins-Medium';
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 36px;
  text-transform: capitalize;
  color: #151515;

}

.calendar {

}

.calend {

}

.add {
margin-left: 29px;

font-family: 'Poppins-Medium';
font-style: normal;
font-weight: 500;
font-size: 0.875rem;
line-height: 21px;
text-decoration-line: underline;
text-transform: capitalize;
color: #151515;
}

.btn__info {
  position: relative;
  display: flex;
  justify-content: center;
  transform: translateY(-10%);
}

.btn__book {
  display: flex;
  align-items: center;
  padding: 27px 30px;
  border: 1px solid var(--ui-color);
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 120%;
  color: #FFFFFF;
  background-color: var(--ui-color);
  border-radius: 10px;
  cursor: pointer;
}

.btn_arrow {
margin-left: 50px;
}

.bk__arrow {
  display: flex;

}

/* Info End */

/* private */
.private__text {
  margin-bottom: 65px;
  color: #000000;
}

.private__jet{

}

.private__rectangle {
  position: relative;
  }

.private-flex {
  display: flex;
  justify-content: center;
}

.private-charter {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 38px;
}

.private-charter__jet{
  max-width: 589px;
  max-height: 392px;
  width: 100%;
  height: 100vw;
}

.private-charter__text{
  max-width: 463px;
  max-height: 245px;

}

/* /private */






